.textarea {
  margin-bottom: 1rem !important;
  display: flex;
  flex-direction: column;

  label {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-bottom: 8px;
  }

  textarea {
    border-radius: 4px;
    border: 1px solid #fff;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    resize: none;
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    font-weight: 400;
    background-color: transparent;

    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
    }
  }

  .errorMsg {
    color: red;
    font-size: 13px;
    margin: 0;
    margin-top: 2px;
  }
}
