.hero {
  max-width: 1512px;
  margin: auto;
  position: relative;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.18);
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.18);
  background-image: url("../../assets/images/hero/metrix.png");

  background-repeat: no-repeat;
  background-position: right;

  &_igniting {
    padding: 25px 40px;
    text-align: right;

    p {
      display: block;
      font-style: italic;
      font-size: 25px;
      font-weight: 700;
      line-height: 1;
    }

    span {
      margin-left: 5px;
      position: relative;
      img {
        width: 100%;
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
  }

  h1 {
    font-size: 65px;
    font-weight: 900;

    span {
      color: var(--primary-default-color);
      margin-left: 0.8rem;
      margin-right: 0.3rem;
    }
  }

  &_flex {
    height: 670px;
    background-image: url("../../assets/images/hero/vr-lights.png"),
      url("../../assets/images/hero/man-glasses.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 90% 0, top right;
    background-size: auto 630px, auto 680px;

    .hero_text {
      padding-top: 90px;
      background-image: url("../../assets/images/hero/star1.svg"),
        url("../../assets/images/hero/star2.svg"),
        url("../../assets/images/hero/star3.svg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: 5% 0%, 50% 5%, 40% 80%;

      &_heading {
        position: relative;

        h1 {
          span {
            position: relative;
            color: #fff;
            img {
              position: absolute;
              right: 15px;
              bottom: 55px;
              width: 50px;
            }
          }
        }
      }

      p {
        font-weight: 400;
        max-width: 420px;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 3.5rem;
      }
    }
  }

  &_hackathon {
    display: flex;

    &_chain {
      width: 65px;
    }
    img:last-child {
      width: 45px;
    }
  }

  &_countdown {
    margin-top: 60px;
    margin-bottom: 90px;
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;

    div {
      font-family: "Unica One", cursive;
      font-weight: 400;
      font-size: 50px;

      span {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        margin: 0;
      }
    }
  }

  .hero_blur1 {
    background-color: #a866fd;
    width: 150px;
    height: 150px;
    filter: blur(6rem);
    position: absolute;
    left: 20rem;
    top: 8rem;
  }
}

@media (max-width: 1170px) {
  .hero {
    &_igniting {
      text-align: center;
    }

    &_flex {
      height: 1050px;

      background-position: center bottom, bottom center;
      background-size: auto 500px, auto 500px;

      .hero_text {
        padding-top: 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin: auto;

          margin-bottom: 3.5rem;
        }
      }
    }

    &_hackathon {
      justify-content: center;
    }

    &_countdown {
      justify-content: center;
    }
  }
}

@media (max-width: 992px) {
  .hero {
    background-image: unset;

    &_igniting {
      text-align: center;

      p {
        font-size: 20px;
      }
    }

    h1 {
      font-size: 45px;
    }

    &_flex {
      height: 850px;

      background-size: auto 450px, auto 450px;

      .hero_text {
        &_heading {
          h1 {
            span {
              img {
                right: 5px;
                bottom: 40px;
                width: 40px;
              }
            }
          }
        }

        p {
          font-size: 16px;

          margin-bottom: 2rem;
        }
      }
    }

    &_hackathon {
      justify-content: center;

      &_chain {
        width: 50px;
      }
      img:last-child {
        width: 35px;
      }
    }

    &_countdown {
      margin-top: 20px;
      margin-bottom: 40px;

      div {
        font-size: 48px;
      }
    }
    .hero_blur1 {
      width: 150px;
      height: 150px;
      filter: blur(6rem);
      left: 0;
      top: 8rem;
    }
  }
}
@media (max-width: 575px) {
  .hero {
    &_igniting {
      p {
        font-size: 14px;
      }

      span {
        img {
          min-width: 115px;
        }
      }
    }

    h1 {
      font-size: 32px;
    }

    &_flex {
      height: 670px;
      background-size: auto 370px, auto 370px;

      .hero_text {
        padding-top: 30px;
        background-position: 25% 0%, 90% 5%, 70% 70%;
        background-size: 10px;

        &_heading {
          h1 {
            span {
              img {
                right: 15px;
                bottom: 30px;
                width: 18px;
              }
            }
          }
        }

        p {
          font-size: 13px;

          margin-bottom: 1.5rem;
        }
      }
    }

    &_hackathon {
      &_chain {
        width: 32px;
      }
      img:last-child {
        width: 22px;
      }
    }

    &_countdown {
      margin-top: 1rem;
      margin-bottom: 1rem;

      div {
        font-size: 45px;
      }
    }
  }
}

@media (max-width: 402px) {
  .hero {
    &_igniting {
      p {
        max-width: 230px;
        border: 2px solid red;
        margin: auto;
        span {
          img {
            min-width: 115px;
          }
        }
      }
    }
  }
}
