.rules {
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.18);
  position: relative;

  .rules_container {
    background-image: url("../../assets/images/rules/star1.svg"),
      url("../../assets/images/rules/star2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 20% 15%, 52% 80%;

    .rules_container_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 3rem;
      padding-bottom: 3rem;

      h2 {
        font-size: 28px;
        margin-bottom: 0.7rem;

        span {
          color: var(--primary-default-color) !important;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.8;
      }
    }

    .rules_container_image {
      img {
        max-width: 550px;
        width: 100%;
      }
    }
  }

  .rules_blur1 {
    background-color: #d434fe;
    width: 150px;
    height: 100px;
    filter: blur(6rem);
    position: absolute;
    left: 20rem;
    top: 27%;
  }
  .rules_blur2 {
    background-color: #d434fe;
    width: 100px;
    height: 150px;
    filter: blur(5rem);
    position: absolute;
    right: 0;
    bottom: 5rem;
  }
}

@media (max-width: 992px) {
  .rules {
    // border-bottom: 1px solid rgba($color: #fff, $alpha: 0.18);

    .rules_container {
      flex-direction: column-reverse;
      .rules_container_text {
        text-align: center;
        max-width: 600px;
        margin: auto;
        padding-left: 20px;
        padding-bottom: 20px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // padding-left: 3rem;
        // padding-bottom: 3rem;

        h2 {
          //   font-size: 28px;
          //   margin-bottom: 0.7rem;

          span {
            // color: var(--primary-default-color) !important;
          }
        }

        p {
        }
      }

      .rules_container_image {
        text-align: center;
        img {
          height: auto;
          max-width: 400px;
        }
      }
    }

    .rules_blur1 {
      //   background-color: #d434fe;
      width: 70px;
      //   height: 100px;
      //   filter: blur(6rem);
      //   position: absolute;
      left: 0;
      top: 3rem;
    }
    .rules_blur2 {
      //   background-color: #d434fe;
      width: 70px;
      //   height: 100px;
      //   filter: blur(6rem);
      //   position: absolute;
      right: 0;
      top: 50%;
    }
  }
}
@media (max-width: 575px) {
  .rules {
    padding-bottom: 50px;
    // border-bottom: 1px solid rgba($color: #fff, $alpha: 0.18);

    .rules_container {
      background-position: 15% 25%, 92% 60%;
      background-size: 10px;
      //   flex-direction: column-reverse;
      .rules_container_text {
        // text-align: center;
        // max-width: 600px;
        // margin: auto;
        padding-left: 5px !important;
        padding-bottom: 5px !important;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // padding-left: 3rem;
        // padding-bottom: 3rem;

        h2 {
          //   font-size: 28px;
          //   margin-bottom: 0.7rem;

          span {
            // color: var(--primary-default-color) !important;
          }
        }

        p {
        }
      }

      .rules_container_image {
        // text-align: center;
        // img {
        //   height: auto;
        //   max-width: 400px;
        // }
      }
    }
  }
}
